.idea/
*.iml
target/
.DS_Store
dependency-reduced-pom.xml
*.jar
*.classpath
*.settings
*.project
*.log
.vscode/launch.json
java/.vscode
cdk.context.json
cdk.out/
generated/
scripts/jars/
scripts/docker/
scripts/**/version.txt
scripts/trino/etc
scripts/trino/jars
__pycache__
*.pem
*.drawio.bkp
*.drawio.dtmp
python/build/
python/src/sleeper.egg-info/
python/env/
target/coverage/*
cmake-build-*/
conan-cache/
scripts/test/deployAll/system-test-instance.properties
scripts/test/maven/system-test-instance.properties
input.json
