chunks:
  clients-cdk:
    name: Clients & CDK
    workflow: chunk-clients-cdk.yaml
    modules:
      - clients
      - analytics-integration/spark
      - deployment/cdk
      - deployment/cdk-custom-resources
      - deployment/cdk-environment
      - deployment/build-uptime-lambda
      - system-test/system-test-cdk
      - system-test/system-test-configuration
      - system-test/system-test-data-generation
      - system-test/system-test-dsl
      - system-test/system-test-drivers
      - system-test/system-test-suite
  common:
    name: Common
    workflow: chunk-common.yaml
    modules:
      - core
      - configuration
      - common/sketches
      - common/parquet
      - common/arrow
      - common/common-job
      - common/common-task
      - common/common-invoke-tables
      - build
      - common/dynamodb-tools
      - common/localstack-test
      - statestore
      - statestore-committer-core
      - statestore-committer
      - statestore-lambda
      - metrics
      - example-iterators
  compaction:
    name: Compaction
    workflow: chunk-compaction.yaml
    modules:
      - compaction/compaction-job-execution
      - compaction/compaction-task-creation
      - compaction/compaction-job-creation
      - compaction/compaction-job-creation-lambda
      - compaction/compaction-tracker
      - compaction/compaction-core
      - partitions/splitter
      - partitions/splitter-lambda
      - garbage-collector
      - bulk-export/bulk-export-core
      - bulk-export/bulk-export-planner
      - bulk-export/bulk-export-task-creator
      - bulk-export/bulk-export-task-execution
  rust:
    name: Rust
    workflow: chunk-rust.yaml
    modules:
      - query/query-datafusion
      - compaction/compaction-datafusion
      - common/foreign-bridge
  ingest:
    name: Ingest
    workflow: chunk-ingest.yaml
    modules:
      - ingest/ingest-core
      - ingest/ingest-tracker
      - ingest/ingest-taskrunner
      - ingest/ingest-batcher-core
      - ingest/ingest-batcher-store
      - ingest/ingest-batcher-submitter
      - ingest/ingest-batcher-job-creator
      - bulk-import/bulk-import-core
      - bulk-import/bulk-import-starter
      - bulk-import/bulk-import-runner
      - ingest/ingest-runner
  query:
    name: Query
    workflow: chunk-query.yaml
    modules:
      - query/query-core
      - query/query-runner
      - query/query-lambda
      - analytics-integration/trino
      - analytics-integration/athena
