
## The following table properties relate to the definition of data inside a table.

# A unique name identifying this table.
# Note that this property is not directly editable, i.e. you cannot change the name of a table by
# changing this property. However you can rename a table by using the renameTable.sh script.
sleeper.table.name=system-test
