name: Build Ingest Modules
on:
  pull_request:
    paths:
      - '.github/workflows/chunk-ingest.yaml'
      - '.github/workflows/chunk.yaml'
      - '.github/config/chunks.yaml'
      - 'code-style/checkstyle*.xml'
      - 'code-style/spotbugs*.xml'
      - 'java/pom.xml'
      - 'java/ingest/pom.xml'
      - 'java/bulk-import/pom.xml'
      - 'java/ingest/ingest-core/**'
      - 'java/ingest/ingest-tracker/**'
      - 'java/ingest/ingest-taskrunner/**'
      - 'java/ingest/ingest-batcher-core/**'
      - 'java/ingest/ingest-batcher-store/**'
      - 'java/ingest/ingest-batcher-submitter/**'
      - 'java/ingest/ingest-batcher-job-creator/**'
      - 'java/bulk-import/bulk-import-core/**'
      - 'java/bulk-import/bulk-import-starter/**'
      - 'java/bulk-import/bulk-import-runner/**'
      - 'java/ingest/ingest-runner/**'
      - 'java/common/common-task/**'
      - 'java/partitions/splitter/**'
      - 'java/common/parquet/**'
      - 'java/common/arrow/**'
      - 'java/statestore/**'
      - 'java/common/common-job/**'
      - 'java/configuration/**'
      - 'java/common/dynamodb-tools/**'
      - 'java/example-iterators/**'
      - 'java/common/sketches/**'
      - 'java/core/**'
      - 'java/common/localstack-test/**'

jobs:
  chunk-workflow:
    uses: ./.github/workflows/chunk.yaml
    with:
      chunkId: ingest
