name: Build State Store Module
on:
  pull_request:
    paths:
      - '.github/workflows/chunk-statestore.yaml'
      - '.github/workflows/chunk.yaml'
      - '.github/config/chunks.yaml'
      - 'code-style/checkstyle*.xml'
      - 'code-style/spotbugs*.xml'
      - 'java/pom.xml'
      - 'java/statestore/**'
      - 'java/dynamodb-tools/**'
      - 'java/parquet/**'
      - 'java/configuration/**'
      - 'java/core/**'

jobs:
  chunk-workflow:
    uses: ./.github/workflows/chunk.yaml
    with:
      chunkId: statestore
