on:
  workflow_call:
    inputs:
      chunkId:
        required: true
        type: string
      skipRust:
        default: true
        required: false
        type: boolean

env:
  RUST_BUILD_IMAGE_X86_64: "ghcr.io/gchq/sleeper-rust-builder-x86_64-sccache:latest"
  RUST_BUILD_IMAGE_AARCH64: "ghcr.io/gchq/sleeper-rust-builder-aarch64-sccache:latest"
  SCCACHE_GHA_ENABLED: "true"
  SSCACHE_CACHE_SIZE: "2G"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
      - uses: dtolnay/rust-toolchain@stable
        if: ${{ ! inputs.skipRust }}
        with:
         toolchain: 1.93
      - uses: mozilla-actions/sccache-action@v0.0.9
        if: ${{ ! inputs.skipRust }}
      - name: Cache dependencies
        uses: actions/cache/restore@v5
        with:
          path: ${{ runner.temp }}/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Resolve dependencies
        run: mvn de.qaware.maven:go-offline-maven-plugin:resolve-dependencies -Dmaven.repo.local=${{ runner.temp }}/.m2/repository
        working-directory: ./java
      - name: Get chunk configuration
        id: config
        working-directory: ./java/build
        run: |
          mvn compile exec:java -q -Dexec.mainClass=sleeper.build.chunks.GetChunkConfig \
            -Dmaven.repo.local=${{ runner.temp }}/.m2/repository \
            -Dexec.args="${{ inputs.chunkId }} github_actions_outputs ${{ github.workspace }}/.github/config/chunks.yaml" \
            >> $GITHUB_OUTPUT
      - name: Compile
        run: mvn --batch-mode clean install -am -pl ${{ steps.config.outputs.moduleList }} -Pquick,skipShade -DskipRust=${{ inputs.skipRust }} -Dmaven.repo.local=${{ runner.temp }}/.m2/repository
        working-directory: ./java
      - name: Test
        id: test
        run: mvn --batch-mode --fail-at-end verify -pl ${{ steps.config.outputs.moduleList }} -DskipRust=true -Dmaven.repo.local=${{ runner.temp }}/.m2/repository -e
        working-directory: ./java
      - name: Generate site
        id: site
        if: failure() && steps.test.conclusion == 'failure'
        run: |
          mvn --batch-mode clean site-deploy -PcleanForSite -pl sleeper:aws,${{ steps.config.outputs.moduleList }} \
            -Dmaven.repo.local=${{ runner.temp }}/.m2/repository
        working-directory: ./java
      - name: Upload site as artifact
        if: failure() && steps.site.conclusion == 'success'
        uses: actions/upload-artifact@v5
        with:
          name: site
          path: /tmp/sleeper/site
