name: Build Clients & CDK Modules
on:
  pull_request:
    paths:
      - '.github/workflows/chunk-clients-cdk.yaml'
      - '.github/workflows/chunk.yaml'
      - '.github/config/chunks.yaml'
      - 'code-style/checkstyle*.xml'
      - 'code-style/spotbugs*.xml'
      - 'java/pom.xml'
      - 'java/deployment/pom.xml'
      - 'java/system-test/pom.xml'
      - 'java/clients/**'
      - 'java/analytics-integration/pom.xml'
      - 'java/analytics-integration/spark/**'
      - 'java/deployment/cdk/**'
      - 'java/deployment/cdk-custom-resources/**'
      - 'java/deployment/cdk-environment/**'
      - 'java/deployment/build-uptime-lambda/**'
      - 'java/system-test/system-test-cdk/**'
      - 'java/system-test/system-test-configuration/**'
      - 'java/system-test/system-test-data-generation/**'
      - 'java/system-test/system-test-dsl/**'
      - 'java/system-test/system-test-drivers/**'
      - 'java/system-test/system-test-suite/**'
      - 'java/bulk-import/bulk-import-starter/**'
      - 'java/compaction/compaction-job-creation/**'
      - 'java/compaction/compaction-tracker/**'
      - 'java/ingest/ingest-tracker/**'
      - 'java/statestore/**'
      - 'java/ingest/ingest-batcher-store/**'
      - 'java/common/common-task/**'
      - 'java/query/query-runner/**'
      - 'java/query/query-datafusion/**'
      - 'java/configuration/**'
      - 'java/common/dynamodb-tools/**'
      - 'java/bulk-import/bulk-import-core/**'
      - 'java/partitions/splitter/**'
      - 'java/compaction/compaction-job-execution/**'
      - 'java/statestore-committer-core/**'
      - 'java/garbage-collector/**'
      - 'java/ingest/ingest-batcher-core/**'
      - 'java/query/query-core/**'
      - 'java/compaction/compaction-datafusion/**'
      - 'java/ingest/ingest-runner/**'
      - 'java/common/common-invoke-tables/**'
      - 'java/compaction/compaction-core/**'
      - 'java/common/common-job/**'
      - 'java/common/sketches/**'
      - 'java/example-iterators/**'
      - 'java/common/parquet/**'
      - 'java/ingest/ingest-core/**'
      - 'java/core/**'
      - 'java/common/localstack-test/**'
      - 'java/bulk-export/bulk-export-core/**'
      - 'java/common/foreign-bridge/**'
      - 'java/common/arrow/**'

jobs:
  chunk-workflow:
    uses: ./.github/workflows/chunk.yaml
    with:
      chunkId: clients-cdk
