name: Nightly Docker Image Tests
on:
  workflow_dispatch: # Allow manual running
  schedule:
    - cron: '0 3 * * *'
  pull_request:
    paths:
      - '.github/workflows/docker-image-tests-nightly.yaml'
      - '.github/workflows/docker-image-tests.yaml'
      - '.github/workflows/docker-image-test.yaml'

jobs:
  build:
    uses: ./.github/workflows/docker-image-tests.yaml
    with:
      dockerOptions: --cache-from type=gha
      runUntested: true
