name: Docker Image Tests
on:
  pull_request:
    paths:
      - 'java/**/Dockerfile'
      - 'rust/**' # We've seen Rust failures because of code built against a different glibc version than is present in the image
      - '.github/workflows/docker-image-tests.yaml'
      - '.github/workflows/docker-image-test.yaml'
      - 'code-style/.trivyignore.yaml'

jobs:
  build:
    uses: ./.github/workflows/docker-image-tests.yaml
    with:
      dockerOptions: --cache-from type=gha
