on:
  workflow_call:
    inputs:
      dockerOptions:
        required: false
        type: string

jobs:
  compaction:
    uses: ./.github/workflows/docker-image-test.yaml
    with:
      imageName: compaction-job-execution
      testClassNames: CompactionTaskDockerImageST
      dockerOptions: ${{ inputs.dockerOptions }}
  query:
    uses: ./.github/workflows/docker-image-test.yaml
    with:
      imageName: query-lambda
      isLambda: true
      testClassNames: QueryLambdaDockerImageST
      dockerOptions: ${{ inputs.dockerOptions }}
