name: Docker Image Tests
on:
  pull_request:
    paths:
      - 'java/**/Dockerfile'
      - 'rust/**' # We've seen Rust failures because of code built against a different glibc version than is present in the image
      - '.github/workflows/docker-image-tests.yaml'
      - '.github/workflows/docker-image-test.yaml'

jobs:
  compaction:
    uses: ./.github/workflows/docker-image-test.yaml
    with:
      imageName: compaction-job-execution
      testClassNames: CompactionTaskDockerImageST
  # TODO add test (for https://github.com/gchq/sleeper/issues/5830)
  # query:
  #   uses: ./.github/workflows/docker-image-test.yaml
  #   with:
  #     imageName: query-lambda
  #     isLambda: true
  #     testClassNames: QueryLambdaDockerImageST
