name: Java Build Status
on:
  pull_request:
    paths:
      - '.github/workflows/java-status.yaml'
      - '.github/config/chunks.yaml'
      - 'java/**'
      # Check generated files are not edited directly
      - 'examples/**'
      - 'scripts/templates/**'
      - 'docs/usage/properties/**'
  push:
    branches:
      - develop
  workflow_dispatch: # Allow manual running to refresh/check cache
  schedule:
    - cron: '0 1 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
      - name: Restore cache of Maven dependencies
        uses: actions/cache/restore@v5
        id: restore-cache
        with:
          path: ${{ runner.temp }}/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Resolve dependencies
        run: mvn de.qaware.maven:go-offline-maven-plugin:resolve-dependencies -Dmaven.repo.local=${{ runner.temp }}/.m2/repository
        working-directory: ./java
      - name: Build with Maven
        run: mvn --batch-mode verify -Pquick -T 1C -DskipRust -Dmaven.repo.local=${{ runner.temp }}/.m2/repository
        working-directory: ./java
      - name: Validate chunk build configuration
        working-directory: ./java/build
        run: |
          CHUNKS_YAML=${{ github.workspace }}/.github/config/chunks.yaml
          MAVEN_PROJECT=${{ github.workspace }}/java
          mvn compile exec:java -q -e -Dexec.mainClass=sleeper.build.chunks.ValidateProjectChunks \
            -Dmaven.repo.local=${{ runner.temp }}/.m2/repository \
            -Dexec.args="$CHUNKS_YAML $MAVEN_PROJECT"
      - name: Check notices file
        working-directory: ./java/build
        run: |
          NOTICES_FILE=${{ github.workspace }}/NOTICES
          MAVEN_PROJECT=${{ github.workspace }}/java
          mvn compile exec:java -q -e -Dexec.mainClass=sleeper.build.notices.CheckNotices \
            -Dmaven.repo.local=${{ runner.temp }}/.m2/repository \
            -Dexec.args="$NOTICES_FILE $MAVEN_PROJECT"
      - name: Validate generated files and documentation are up to date
        working-directory: ./java
        run: |
          PROJECT_ROOT=$(cd .. && pwd)
          mvn install -Pquick,skipShade -q -e -pl clients -am -DskipRust -Dmaven.repo.local=${{ runner.temp }}/.m2/repository
          mvn exec:java -q -e -Dmaven.repo.local=${{ runner.temp }}/.m2/repository -pl clients \
            -Dexec.mainClass=sleeper.clients.deploy.documentation.GeneratePropertiesTemplates \
            -Dexec.args="$PROJECT_ROOT"
          mvn exec:java -q -e -Dmaven.repo.local=${{ runner.temp }}/.m2/repository -pl clients \
            -Dexec.mainClass=sleeper.clients.deploy.documentation.GenerateDockerImageDocumentation \
            -Dexec.args="$PROJECT_ROOT"
          CHANGED_FILES=$(git status --porcelain)
          if [ ${#CHANGED_FILES} -gt 0 ]; then
            echo "Found files changed by properties template generation."
            echo "Please run scripts/dev/generateDocumentation.sh and commit."
            git status --verbose --verbose
            exit 1
          fi
      - name: Cache Maven dependencies
        uses: actions/cache/save@v5
        if: ${{ always() && github.ref_name == 'develop' }}
        with:
          path: ${{ runner.temp }}/.m2/repository
          key: ${{ steps.restore-cache.outputs.cache-primary-key }}
