name: Full Maven Compile
on:
  workflow_dispatch: # Allow manual running to refresh/check cache
  schedule: # Cache will never be created unless this is run on develop, so run it once per day
    - cron: '0 2 * * *'
  pull_request:
    paths:
      - '.github/workflows/maven-full.yaml'
      - 'java/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ runner.temp }}/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Resolve dependencies
        run: mvn de.qaware.maven:go-offline-maven-plugin:resolve-dependencies -Dmaven.repo.local=${{ runner.temp }}/.m2/repository
        working-directory: ./java
      - name: Build with Maven
        run: mvn --batch-mode verify -Pquick -T 1C -DskipRust -Dmaven.repo.local=${{ runner.temp }}/.m2/repository
        working-directory: ./java
      - name: Analyze dependencies
        run: mvn --batch-mode dependency:analyze-report -DfailOnWarning --fail-at-end -DskipRust -Dmaven.repo.local=${{ runner.temp }}/.m2/repository
        working-directory: ./java
      - name: Validate properties templates are up to date
        working-directory: ./java
        run: |
          PROJECT_ROOT=$(cd .. && pwd)
          mvn install -Pquick -q -e -pl configuration -am -Dmaven.repo.local=${{ runner.temp }}/.m2/repository
          mvn exec:java -q -e -Dmaven.repo.local=${{ runner.temp }}/.m2/repository -pl configuration \
            -Dexec.mainClass=sleeper.configuration.properties.format.GeneratePropertiesTemplates \
            -Dexec.args="$PROJECT_ROOT"
          CHANGED_FILES=$(git status --porcelain)
          if [ ${#CHANGED_FILES} -gt 0 ]; then
            echo "Found files changed by properties template generation."
            echo "Please run scripts/dev/generatePropertiesTemplates.sh and commit."
            echo "$CHANGED_FILES"
            exit 1
          fi
