name: Rust Cache
on:
  workflow_dispatch: # Allow manual running to refresh/check cache
  schedule: # Planned execution once per day
    - cron: "0 1 * * *"
  pull_request:
    paths:
      - '.github/workflows/rust-cache.yaml'
  push:
    branches:
      - develop

env:
  RUST_BUILD_IMAGE_X86_64: "ghcr.io/gchq/sleeper-rust-builder-x86_64-sccache:latest"
  RUST_BUILD_IMAGE_AARCH64: "ghcr.io/gchq/sleeper-rust-builder-aarch64-sccache:latest"
  SCCACHE_GHA_ENABLED: "true"
  SSCACHE_CACHE_SIZE: "2G"
  SCCACHE_LOG: "trace"
  RUSTC_WRAPPER: "sccache"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: dtolnay/rust-toolchain@stable
        with:
         toolchain: 1.93
      - uses: mozilla-actions/sccache-action@v0.0.9
      - name: Build without Docker
        working-directory: ./rust
        run: cargo build --verbose
      - name: Build x86_64
        working-directory: ./rust
        run: ./build-in-docker.sh x86_64 cargo build --release --verbose
      - name: Build aarch64
        working-directory: ./rust
        run: ./build-in-docker.sh aarch64 cargo build --release --verbose
